<div class="container" id="mainContainer">
  <div class="row">
    <header>
      <h1>Riobamba Admin Panel</h1>
    </header>
  </div>
  <div class="row">
    <div class="column column-25">
      <header>
        <h2>Add new</h2>
      </header>
      <fieldset>
        <label for="newRedirectUrl">URL</label>
        <input id="newRedirectUrl" placeholder="http://example.com" type="text" />
        <label for="newRedirectCode">Code (Optional)</label>
        <input id="newRedirectCode" placeholder="hauKola123" type="text" />
        <button class="button-primary" id="saveNewRedirect"><i class="fa fa-plus"></i></button>
        <button class="button-outline" id="clearNewRedirect"><i class="fa fa-times"></i></button>
      </fieldset>
    </div>
    <div class="column">
      <header>
        <h2>Redirects</h2>
      </header>
      <div class="row">
        <button class="button-small" id="tablePageDown"><i class="fa fa-arrow-down"></i></button>
        <input id="tablePageNumber" />
        <button class="button-small" id="tablePageUp"><i class="fa fa-arrow-up"></i></button>
        <button class="button-small" id="tableRefresh"><i class="fa fa-refresh"></i></button>
      </div>
      <div class="row">
        <div class="column" id="tableDisplayColumn">
          <table id="simpleTable">
            <tr>
              <th>Id</th>
              <th>URL</th>
              <th>Code</th>
              <th>Created At</th>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>