
<nav class="demo">
  <a href="#" class="brand">
    <img class="logo" src="/public/images/riobamba.png" />
    <span>Riobamba</span>
  </a>

  <!-- responsive-->
  <input id="bmenub" type="checkbox" class="show">
  <label for="bmenub" class="burger pseudo button">menu</label>

  <div class="menu">
    <a href="#" class="button warning">Report Broken Link</a>
    <a href="#" class="button">Admin</a>
  </div>
</nav>
<div>
  <header class="card">
    <h1>Welcome to Riobamba</h1>
  </header>
</div>